{% form_theme formCategory 'bootstrap_4_layout.html.twig' %}

{{ form_start(formCategory) }}

{{ form_row(formCategory.name, { 'label': 'Nom', 'attrib': { 'placeholder': 'Nom'}}) }}
{{ form_row(formCategory.description) }}
{% if editMode != null %}
    <img src="{{ asset('upload/categoryPictures/'~ picture) }}" alt="" style="width:10rem">
    <p>{{ picture }}</p>
{% endif %}
{{ form_row(formCategory.picture, {'required': false }) }}
<button type="submit" id="js-save" class="btn btn-primary">
    {% if editMode != null %}
        Modifier
    {% else %}
        Ajouter
    {% endif %}
</button>

{{ form_end(formCategory) }}
