{% extends 'layout.html.twig' %}

{% block title %}Acceuil{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/style-acceuil.css') }}">
<link rel="stylesheet" href="{{ asset('css/style-carousel.css') }}">
<link rel="stylesheet" href="{{ asset('css/audio.css') }}">
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css">
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
{% endblock %}

{% block js %}
<script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script src="{{ asset('js/audio.js') }}"></script>
{% endblock %}


{% block main %}
<!-- Swiper -->
<div class="swiper-container">
    <div class="swiper-wrapper">
        {% for event in events %}
            <div class="swiper-slide"><img src="{{ asset('upload/eventPictures/'~ event.picture) }}" alt=""></div>
        {% endfor %}
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
</div>
<section>
    <h2>News</h2>
    {% for music in musics %}
    <article>
        <!-- Player audio personnalisable CSS -->
        <div class="player-audio">
            <img src="{{ asset('upload/musicPictures/'~ music.picture) }}" alt="{{ music.picture }}" class="js-picture">
            <audio src="{{ asset('upload/songs/'~ music.music) }}" class="js-audio"></audio>
            <img src="{{ asset('images/volume-up.ico') }}" class="volumeUp">
            <input class="custom-slider" type="range" value="10">
            <div class="progress">
                <div class="timeline"></div>
            </div>
            <div class="controls">
                <img src="images/play.png"  class="js-play">
                <img src="images/pause.png"  class="js-pause">
            </div>
        </div>
        <h3><a href="{{ path('detail_music', {id:music.id}) }}">{{ music.title }}</a></h3>
        <span><a href="{{ path('detail_artist', {id:music.artist.id}) }}">{{ music.artist.nickname }}</a></span>
    </article>
    {% endfor %}
</section>
{% endblock %}
