{% extends 'layout.html.twig' %}

{% block title %}Acceuil{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/style-acceuil.css') }}">
<link rel="stylesheet" href="{{ asset('css/style-carousel.css') }}">
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css">
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
{% endblock %}
{% block js %}
<script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script src="{{ asset('js/audio.js') }}"></script>
{% endblock %}


{% block main %}
<!-- Swiper -->
<div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide"><img src="images\background.jpg" alt=""></div>
      <div class="swiper-slide"><img src="images/mario.jpg" alt=""></div>
      <div class="swiper-slide"><img src="images\background.jpg" alt=""></div>
      <div class="swiper-slide"><img src="images\background.jpg" alt=""></div>
      <div class="swiper-slide"><img src="images\background.jpg" alt=""></div>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
</div>
<section>
    <!--  La boucle se fera ici -->
    <article>
        
        <!-- Player audio personnalisable CSS -->
        <div class="player-audio">
            <img src="images/mario.jpg" alt="" class="js-picture">
            <audio src="images/319-Soprano - En feu.mp3" class="js-audio"></audio>
            <div class="controls">
                <img src="images/play.png" alt="" class="js-play">
                <img src="images/pause.png" alt="" class="js-pause">
            </div>
        </div>
        <h3><a href="{{ path('detail_music') }}">Titre de la chanson</a></h3>
        <span><a href="{{ path('detail_artist') }}">Nom de l'artist</a></span>
    </article>
    <article>
        <!-- Player audio personnalisable CSS -->
        <div class="player-audio info_song">
            <img src="images/mario.jpg" alt="" class="js-picture">
            <audio src="images/319-Soprano - En feu.mp3" class="js-audio"></audio>
            <div class="controls">
                <img src="images/play.png" alt="" class="js-play">
            </div>
        </div>
        <h3><a href="{{ path('detail_music') }}">Titre de la chanson</a></h3>
        <span><a href="{{ path('detail_artist') }}">Nom de l'artist</a></span>
    </article>
    <!-- <article>
        <img src="images/mario.jpg" alt="">
        <h3><a href="">Titre de la chanson</a></h3>
        <span><a href="">Nom de l'artist</a></span>
    </article>
    <article>
        <img src="images/mario.jpg" alt="">
        <h3><a href="">Titre de la chanson</a></h3>
        <span><a href="">Nom de l'artist</a></span>
    </article>
    <article>
        <img src="images/mario.jpg" alt="">
        <h3><a href="">Titre de la chanson</a></h3>
        <span><a href="">Nom de l'artist</a></span>
    </article>
    <article>
        <img src="images/mario.jpg" alt="">
        <h3><a href="">Titre de la chanson</a></h3>
        <span><a href="">Nom de l'artist</a></span>
    </article> -->
</section>
{% endblock %}
