{% extends 'layout.html.twig' %}

{% block title %}Détail Artiste{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset ('css/style-detail.css') }}">
{% endblock %}

{% block main %}
<section>
    <article>
        <img src="{{ asset('upload/artistPictures/'~ artist.picture) }}" alt="" class="artist-picture">
        <div>
        <h2>{{ artist.nickname }}</h2>
        <p>{{ artist.description }}</p>
        </div>
    </article>
    <aside>
        <h2>Titres de l'artiste</h2>
        {% for music in artist.musics %}
        <div>
            <img src="{{ asset('upload/musicPictures/'~ music.picture) }}" alt="">
            <h3><a href="{{ path('detail_music', {id:music.id}) }}">{{ music.title }}</a></h3>
        </div>
        {% endfor %}
    </aside>
</section>
</section>
{% endblock %}
