{% extends 'layout.html.twig' %}

{% block title %}Détail Musique{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset ('css/style-detail.css') }}">
{% endblock %}

{% block main %}
<section>
    <article>
        <img src="{{ asset('images/mario.jpg') }}" alt="">
        <div>
        <h2>Nom de la musique</h2>
        <span>Artiste</span>
        <span>Genre</span>
        <span>Date de sortie</span>
        <span>Language</span>
        </div>
    </article>
    <aside>
        <h2>Musique lié à l'artiste</h2>
        <div>
            <img src="{{ asset('images/mario.jpg') }}" alt="">
            <h3><a href="{{ path('detail_music') }}">Nom de la musique</a></h3>
        </div>
        <div>
            <img src="{{ asset('images/mario.jpg') }}" alt="">
            <h3><a href="">Nom de la musique</a></h3>
        </div>
        <div>
            <img src="{{ asset('images/mario.jpg') }}" alt="">
            <h3><a href="{{ path('detail_music') }}">Nom de la musique</a></h3>
        </div>
        <h2>Musique de même variété</h2>
        <div>
            <img src="{{ asset('images/mario.jpg') }}" alt="">
            <h3><a href="{{ path('detail_music') }}">Nom de la musique</a></h3>
        </div>
        <div>
            <img src="{{ asset('images/mario.jpg') }}" alt="">
            <h3><a href="">Nom de la musique</a></h3>
        </div>
        <div>
            <img src="{{ asset('images/mario.jpg') }}" alt="">
            <h3><a href="">Nom de la musique</a></h3>
        </div>
    </aside>
</section>
{% endblock %}
