{% extends 'layout.html.twig' %}

{% block title %}Détail Événement{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/style-detail.css') }}">
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
   integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
   crossorigin=""/>
{% endblock %}

{% block js %}
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
   integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
   crossorigin=""></script>
{% endblock %}

{% block main %}
<section>
    <article id="detailEvent">
        <img src="{{ asset('upload/eventPictures/'~ event.picture) }}" alt="">
        <p>{{ event.description }}</p>
        <div id="schedule">
            <p>Date de début : {{ event.startingAt | date("d/m/Y H:i") }}</p>
            <p>Date de fin : {{ event.closingAt | date("d/m/Y H:i") }}</p>
        </div>
    </article>
    <aside>
        <h2>Artistes présents</h2>
        {% for artist in event.artists %}
        <div>
            <img src="{{ asset('upload/artistPictures/'~ artist.picture) }}" alt="{{ artist.picture }}">
            <h3><a href="{{ path('detail_artist', {id:artist.id}) }}">{{ artist.nickname }}</a></h3>
        </div>
        {% endfor %}
        
        <div id="mapid"></div>
    </aside>
</section>
{% block javascripts %}
    <script >
        let mymap = L.map('mapid').setView(["{{ event.longitude }}", "{{ event.latitude }}"], 17);

        let marker = L.marker(["{{ event.longitude }}", "{{ event.latitude }}"]).addTo(mymap);

        marker.bindPopup('<p id="adress">{{ event.adress }}, {{ event.zipCode }} {{ event.town }}</p>').openPopup();

        L.tileLayer(' https://{s}.tile.openstreetmap.fr/osmfr/{z}/{x}/{y}.png', {
            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
            maxZoom: 18,
            id: 'mapbox/streets-v11',
            tileSize: 512,
            zoomOffset: -1,
            accessToken: 'your.mapbox.access.token'
        }).addTo(mymap);
    </script>
{% endblock %}

{% endblock %}
