{% extends 'layout.html.twig' %}

{% block title %}Détail Musique{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/style-detail.css') }}">
{% endblock %}

{% block main %}
<section>
    <article id="detailMusic">
        <img src="{{ asset('upload/musicPictures/'~ music.picture) }}" alt="">
        <div>
            <h2>{{ music.title }}</h2>
            <span><a href="{{ path('detail_artist', {id:music.artist.id}) }}">Artiste : {{ music.artist.nickname }}</a></span>
            <span>Vatiété : {{ music.category.name }}</span>
            <span>Ajouté le : {{ music.createdAt | date("d/m/Y") }}</span>
        </div>
        <audio src="{{ asset('upload/songs/'~ music.music) }}" controls></audio>
    </article>
    <aside>
        <h2>Autres musiques de l'artiste</h2>
        {% for music in musicsArtist %}
        <div>
            <img src="{{ asset('upload/musicPictures/'~ music.picture) }}" alt="">
            <h3><a href="{{ path('detail_music', {id:music.id}) }}">{{ music.title }}</a></h3>
        </div>
        {% endfor %}
    </aside>

</section>
{% endblock %}
