{% extends 'layout.html.twig' %}

{% block title %}Acceuil{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/style-search.css') }}">
<link rel="stylesheet" href="{{ asset('css/style-carousel.css') }}">
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css">
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
{% endblock %}
{% block js %}
<script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
{% endblock %}


{% block main %}
<!-- Swiper -->
<div class="swiper-container">
    <div class="swiper-wrapper">
        {% for event in events %}
            <div class="swiper-slide"><img src="{{ asset('upload/eventPictures/'~ event.picture) }}" alt="{{ event.picture }}"></div>
        {% endfor %}
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
</div>
    <section>
        <!--  La boucle se fera ici pour le resultat concernant les musiques-->
        <article id="result-music">
            <h3>Résultat pour les musiques</h3>
            {% if musics != null %}
                {% for music in musics %}
                    <div>
                        <img src="{{ asset('upload/musicPictures/'~ music.picture) }}" alt="{{ music.picture }}">
                        <span><a href="{{ path('detail_music', { id:music.id}) }}">{{ music.title }}</a></span>
                    </div>
                {% endfor %}
            {% else %}
                <p>Aucuns résultats </p>
            {% endif %}
        </article>
        <!--  La boucle se fera ici pour le resultat concernant les artistes-->
        <article id="result-artist">
            <h3>Résultat pour les artistes</h3>
            {% if artists != null %}
                {% for artist in artists %}
                    <div>
                        <img src="{{ asset('upload/artistPictures/'~ artist.picture) }}" alt="{{ artist.picture }}">
                        <span><a href="{{ path('detail_artist', { id:artist.id}) }}">{{ artist.nickname }}</a></span>
                    </div>
                {% endfor %}
            {% else %}
                <p>Aucuns résultats </p>
            {% endif %}
        </article>
    </section>
{% endblock %}
