<!DOCTYPE html>
<html lang='fr'>
    <head>
        <meta charset="UTF-8">
        <title>RythmAfrica - {% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>RythmAfrica</title>
        <script src="{{ asset('js/effects.js') }}"></script>
        <script src="{{ asset('js/contact.js') }}"></script>
        {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/style-base.css') }}">
        {% endblock %}
        {% block js %}{% endblock %}
    </head>
    <body>
        <header>
            <div id="logo">
                <a href="{{ path('index') }}">
                    <img src=" {{ asset('images/logo.png') }}" alt="">
                    <h2>RythmAfrica</h2>
                </a>
            </div>
            <nav>
                <div id="hamburger">
                    <input type="checkbox">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <ul>
                    <a href="{{ path('musics') }}">
                        <li>Nos Musiques</li>
                    </a>
                    <a href="{{ path('artists') }}">
                        <li>Nos Artistes</li>
                    </a>
                    <a href="{{ path('events') }}">
                        <li>Nos Événements</li>
                    </a>
                    <a href="{{ path('contact') }}" id="js-contact">
                        <li>Contact</li>
                    </a>
                </ul>
            </nav>
            
        </header>
        <main>
            <!-- BARRE DE RECHERCHE -->
            <div id="searchBar">
                {{ form_start(searchBar) }}
                   {{ form_widget(searchBar.query, {'attr': { 'class': 'search' }}) }}
                    <button type="submit" id="submit">Recherche</button>
                {{ form_end(searchBar) }}
            </div>
            <div class="pub" id="pub1">PUB</div>
            {% block main %}{% endblock %}
            <div class="pub" id="pub2">PUB</div>
        </main>
        <footer>
            <ul>
                <a href="#">
                    <li>Mentions Légales</li>
                </a>
                <a href="#">
                    <li>Mentions sur les cookies et validation RGPD</li>
                </a>
            </ul>
        </footer>
        {# Modal de Contact #}
        <div id="contact" class="modal" aria-hidden="true" role="dialog">
            <div class="js-modal-stop">
                <span class="js-modal-close">&times;</span>
                <div class="modal-body">
                    <!--Insertion du forulaire lorsqu'on clique sur le lien "Contact"  -->
                </div>
            </div>
        </div> 
        {% block javascripts %}{% endblock %}
        
    </body>
    
</html>
